@use "./../variables" as *;

.banner {
    width: 100%;

    &__container {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            min-height: 250px;
            max-height: 500px;
            @include breakPoint($xxxlarge) {
                max-height: 700px;
            }
        }
    }
}
