@use "./../variables" as *;

.footer {
    width: 100%;
    color: white;
    justify-content: center;
    background: linear-gradient(to bottom, $secondary_dark, black);
    &__container {
        padding-right: calc(var(--bs-gutter-x) * 0.5);
        padding-left: calc(var(--bs-gutter-x) * 0.5);
        margin-right: auto;
        margin-left: auto;
        max-width: 1420px;
    }

    &__title {
        h1 {
            font-size: 2rem;
            font-weight: bold;
            @include breakPoint($medium) {
                font-size: 2.3rem;
            }
            @include breakPoint($large) {
                font-size: 2.7rem;
            }
            @include breakPoint($xlarge) {
                font-size: 3rem;
            }
        }
        a {
            font-size: 0.8rem;
            color: white;
            text-decoration: none;
            @include breakPoint($medium) {
                font-size: 0.9rem;
            }
            @include breakPoint($large) {
                font-size: 1rem;
            }
        }
    }

    &__secciones {
        font-size: 0.8rem;
        transition: font-size 0.3s ease;
        background: linear-gradient(
            to bottom,
            white,
            white 55%,
            $secondary_color
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;

        &:hover {
            font-size: 1.1rem;
        }

        @include breakPoint($medium) {
            font-size: 0.9rem;
        }
        @include breakPoint($large) {
            font-size: 1rem;
        }
    }

    &__logos {
        img {
            width: 70%;
        }
    }

    &__copy {
        font-size: 0.6rem;
        color: white;
        border-top: 1px solid $primary_light;
        background-color: black;
        @include breakPoint($small) {
            font-size: 0.7rem;
        }
        @include breakPoint($medium) {
            font-size: 0.9rem;
        }
        @include breakPoint($large) {
            font-size: 1rem;
        }
    }
}
