@use "./../variables" as *;

.header {
    top: 0;
    position: sticky;
    width: 100%;
    background: $primary_color;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 0.1px 5px black;
    @include breakPoint($large) {
        display: flex;
        height: 80px;
    }

    &__img {
        img {
            filter: invert(1) drop-shadow(2px 4px 6px black);
            width: 90%;
            @include breakPoint($small) {
                width: 70%;
            }
            @include breakPoint($medium) {
                width: 50%;
            }
            @include breakPoint($large) {
                width: 30%;
            }
            @include breakPoint($xlarge) {
                width: 20%;
            }
        }
    }

    &__list {
        position: absolute;
        height: 110vh;
        background: $primary_color;
        @include breakPoint($medium) {
            position: relative;
            height: auto;
            background: transparent;
        }

        &__link {
            cursor: pointer;
            color: white;
            text-decoration: none;
            font-weight: 400;
            line-height: normal;
            font-size: 1.2rem;
            text-align: center;
            padding: 0.8rem;
            border-bottom: 1px solid gray;
            transition: font-size 0.3s ease;
            border-bottom: none;
            filter: drop-shadow(2px 4px 6px black);
            @include breakPoint($xxxlarge) {
                font-size: 1.1rem;
            }

            &.active {
                font-weight: bold;
                @include breakPoint($medium) {
                    font-size: 1rem;
                    border-bottom: none;
                }
                @include breakPoint($large) {
                    font-size: 1rem;
                }
                @include breakPoint($xxxlarge) {
                    font-size: 1.2rem;
                }
            }

            &:hover {
                @include breakPoint($medium) {
                    font-size: 1rem;
                    border-bottom: none;
                }
                @include breakPoint($large) {
                    font-size: 1rem;
                }
                @include breakPoint($xxxlarge) {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
