@use "./../variables" as *;

.inscripciones {
    p {
        text-align: justify;
    }
    &-content {
        img {
            width: 80%;
            transition: all 0.3s ease-out;
            &:hover {
                width: 83%;
                box-shadow: 0px 1px 15px $secondary_dark;
            }
        }
        h3 {
            font-size: 1.5rem;
            color: white;
            filter: drop-shadow(1px 1px 8px black);
        }

        a {
            cursor: pointer;
            color: white;
            text-decoration: none;
            border-radius: 1rem;
            padding: 0.4rem 1rem;
            background-color: $secondary_dark;
        }
    }

    &_button {
        position: fixed;
        bottom: 10%;
        right: 0;
        background-color: $secondary_dark;
        color: white;
        border: none;
        border-radius: 5px 0 0 5px;
        writing-mode: sideways-lr;
        text-orientation: mixed;
        transition: all 0.3s ease;
        font-weight: bold;
        z-index: 999;
        cursor: pointer;
        padding: 10px 5px;
        font-size: 0.8rem;
        opacity: 0.7;
        @include breakPoint($medium) {
            font-size: 1rem;
            padding: 10px 10px;
        }
    }
}
