@use "./../variables" as *;

.invitados {
    p {
        text-align: justify;
    }
    &-description {
        font-size: 1rem;
        color: white;
        filter: drop-shadow(1px 1px 8px black);
        @include breakPoint($small) {
            font-size: 1.1rem;
        }
        @include breakPoint($large) {
            font-size: 1.4rem;
        }
    }

    &__content {
        &-div {
            width: 100%;
            margin-bottom: 50px;

            &::after {
                content: "";
                margin-top: 30px;
                margin-bottom: 40px;
                width: 70%;
                transform: translateX(20%);
                border-bottom: 1px solid $secondary_dark;
                @include breakPoint($large) {
                    width: 45%;
                    margin-top: 50px;
                    transform: translateX(60%);
                }
            }

            &:last-child::after {
                border-bottom: 0px solid $secondary_dark;
            }

            &_img {
                width: 70%;
                border-radius: 20rem;
                display: flex;
                justify-content: center;
                min-height: 200px;
                max-height: 200px;
                &.left {
                    padding-left: 10px;
                    background-image: linear-gradient(
                        to left,
                        $secondary_dark,
                        transparent
                    );
                    background-position: left;
                    background-size: 1px 100%;

                    @include breakPoint($large) {
                        background-size: 0px 100%;
                    }
                    @include breakPoint($xlarge) {
                        background-size: 1px 100%;
                    }
                }

                &.right {
                    padding-right: 10px;
                    background-image: linear-gradient(
                        to right,
                        $secondary_dark,
                        transparent
                    );
                    background-position: right;
                    background-size: 1px 100%;
                    @include breakPoint($large) {
                        background-size: 0px 100%;
                    }
                    @include breakPoint($xlarge) {
                        background-size: 1px 100%;
                    }
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    object-position: top;
                }

                @include breakPoint($small) {
                    min-height: 345px;
                    max-height: 345px;
                }
                @include breakPoint($medium) {
                    min-height: 465px;
                    max-height: 465px;
                }
                @include breakPoint($large) {
                    min-height: 345px;
                    max-height: 345px;
                }

                @include breakPoint($xlarge) {
                    width: 100%;
                    min-height: 330px;
                    max-height: 330px;
                }
                @include breakPoint($xxlarge) {
                    width: 86%;
                    min-height: 350px;
                    max-height: 350px;
                }

                &.jurado {
                    min-height: 150px;
                    max-height: 150px;

                    & img {
                        border: 1px solid $secondary_dark;
                    }
                    @include breakPoint($small) {
                        min-height: 120px;
                        max-height: 120px;
                    }
                    @include breakPoint($medium) {
                        min-height: 110px;
                        max-height: 110px;
                    }
                    @include breakPoint($large) {
                        width: 100%;
                        min-height: 150px;
                        max-height: 150px;
                    }

                    @include breakPoint($xlarge) {
                        width: 100%;
                        min-height: 180px;
                        max-height: 180px;
                    }
                    @include breakPoint($xxlarge) {
                        width: 100%;
                        min-height: 220px;
                        max-height: 220px;
                    }
                }
            }

            &-info {
                h1 {
                    color: $secondary_dark;
                    filter: drop-shadow(1px 1px 30px black) !important;
                }
                i {
                    color: white;
                    filter: drop-shadow(1px 1px 8px black);
                }
                p {
                    color: black;
                    filter: drop-shadow(1px 1px 8px black);
                }
            }

            &.jurados {
                h1 {
                    color: white;
                    font-weight: bold;
                    filter: drop-shadow(1px 1px 30px black) !important;
                }
                h3 {
                    color: $secondary_dark;
                    font-weight: bold;
                    filter: drop-shadow(1px 1px 30px black) !important;
                }
                p {
                    color: white;
                }
            }
        }
    }
}
