@use "./../variables" as *;

.sobre-festival {
    &__title {
        color: black;
        text-align: center;
        align-items: center;
        filter: drop-shadow(1px 1px 1px black) !important;
        span {
            font-size: 2.5rem !important;
            font-weight: bold;
            color: white;
            @include breakPoint($medium) {
                font-size: 3rem !important;
            }
            @include breakPoint($xlarge) {
                font-size: 4.5rem !important;
            }
        }
    }

    p {
        font-size: 1.1rem;
        color: black;
        text-align: justify;
        @include breakPoint($xlarge) {
            font-size: 1.3rem;
        }
    }

    &__img {
        width: 100%;
        filter: invert(1) drop-shadow(1px 1px 1px black);
        @include breakPoint($small) {
            width: 40%;
        }
        @include breakPoint($medium) {
            width: 30%;
        }
        @include breakPoint($xlarge) {
            width: 20%;
        }
    }

    &__carousel {
        display: flex;
        text-align: center;
        align-items: center;
        img {
            width: 150px;
            border-radius: 100rem;
            border: 3px solid $secondary_light_medium;
        }

        &__title {
            text-align: center;
            align-items: center;
            filter: drop-shadow(1px 1px 1px black);
            span {
                font-size: 2rem !important;
                font-weight: bold;
                color: gray;
                @include breakPoint($medium) {
                    font-size: 3rem !important;
                }
                @include breakPoint($xlarge) {
                    font-size: 4rem !important;
                }
            }
        }

        h3,
        p {
            color: white;
            transform: scale(1);
            transform-origin: 50% 50%;
            transition: transform 0.35s ease-out;
            filter: drop-shadow(0px 0px 10px black);
        }

        &:hover {
            transform: scale(38);
        }

        .embla__slide:hover {
            &__title,
            p {
                font-weight: bold;
                transition: all 0.5s ease-out;
            }
            img,
            h3 {
                color: $secondary_dark;
                border-color: $secondary_dark;
                transition: all 0.5s ease-out;
            }
            p {
                color: $secondary_dark;
                transition: all 0.5s ease-out;
            }
        }
    }
}
